<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- DataSource -->
    
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/gather?useUnicode=true&amp;characterEncoding=UTF8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="zxcvbnm"></property>
	</bean>
	
	<!-- SessionFactory -->
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource"><ref bean="dataSource"/></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/jike/mobile/gather/model/UserLogin.hbm.xml</value>
				<value>com/jike/mobile/gather/model/User.hbm.xml</value>
				<value>com/jike/mobile/gather/model/Feedback.hbm.xml</value>
				<value>com/jike/mobile/gather/model/Audio.hbm.xml</value>
		    </list>
		</property>
	</bean>
	
	<!-- system config -->
	
	<bean name="serverConfigService" class="com.jike.mobile.gather.service.impl.ServerConfigServiceImpl"></bean>
    
    <bean name="ServerConfig" class="com.jike.mobile.gather.util.ServerConfig">
        <property name="serverConfigService"><ref bean="serverConfigService" /></property>
    </bean>
   
	
	<!-- Action -->
	
	<bean id="audioAction" class="com.jike.mobile.gather.action.AudioAction" scope="prototype">
        <property name="audioService">
            <ref bean="audioService" />
        </property>
    </bean>
    
    <bean id="downloadAction" class="com.jike.mobile.gather.action.DownloadAction" scope="prototype">
        <property name="audioService">
            <ref bean="audioService" />
        </property>
    </bean>
    
    <bean id="charsAction" class="com.jike.mobile.gather.action.CharsAction" scope="prototype">
        <property name="audioService">
            <ref bean="audioService" />
        </property>
    </bean>
    
    <bean id="playAction" class="com.jike.mobile.gather.action.PlayAction" scope="prototype"></bean>
    
    <bean id="feedbackAction" class="com.jike.mobile.gather.action.FeedbackAction" scope="prototype">
        <property name="feedbackService">
            <ref bean="feedbackService" />
        </property>
    </bean>
    
    <bean id="infoAction" class="com.jike.mobile.gather.action.InfoAction" scope="prototype"></bean>
    
    
    <!-- Service -->
    <!-- scope="singleton" -->
    
    <bean id="audioService" class="com.jike.mobile.gather.service.impl.AudioServiceImpl" scope="prototype">
        <property name="audioDao"><ref bean="audioDao" /></property>
        <property name="thriftService"><ref bean="thriftService" /></property>
    </bean>
    
    <bean id="feedbackService" class="com.jike.mobile.gather.service.impl.FeedbackServiceImpl" scope="prototype">
        <property name="feedbackDao">
            <ref bean="feedbackDao" />
        </property>
    </bean>
    
    <bean name="thriftService" class="com.jike.mobile.gather.service.impl.ThriftServiceImpl"></bean>

    <!-- Dao -->
    
    <bean id="userLoginDAO"
        class="com.jike.mobile.gather.dao.impl.UserLoginDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    
    <bean id="userDao" class="com.jike.mobile.gather.dao.impl.UserDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    
    <bean id="feedbackDao" class="com.jike.mobile.gather.dao.impl.FeedbackDaoImpl">
    	<property name="sessionFactory">
    		<ref bean="sessionFactory" />
    	</property>
    </bean>
    
    <bean id="audioDao" class="com.jike.mobile.gather.dao.impl.AudioDaoImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    
    
</beans>












	